{# This file demonstrates using most of the index.twig template and modifying
   just a small part. See `search.twig` for an example of another approach #}

{% extends "base.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/sass/templates/_archive.scss" />
{% endblock %}

{% block content %}
<div class="page-container">
	<div class="page-container__inner">
		<div class="container">
			<header class="header-container">
        {% if title %}<h1>{{title}}</h1>{% endif %}
			</header>
			<main class="post-container">
      {% for post in posts %}
			<div class="post__single">
				<h3><a class="post-title" href="{{post.url}}">{{post.title}}</a></h3>
				<p class="post-attribution">By <a href="{{post.author_url}}">{{post.author_name}}</a></p>
				<p>{{post.preview}}</p>
			</div>
        {% endfor %}
			</main>
		</div>
	</div>
</div>

{% endblock %}
